{"filter":false,"title":"static-files.config","tooltip":"/devopsPro/.ebextensions/static-files.config","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":4,"column":0},"action":"insert","lines":["option_settings:","  aws:elasticbeanstalk:environment:proxy:staticfiles:","    /static/: staticfiles","    /media/: media",""],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":0},"end":{"row":4,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1743258715747,"hash":"83b40e6bb998e869d4945509360e87836b40b7fe"}