{% extends 'base.html' %}
{% load static %}
{% block title %}Contact us{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
           Address: <br> Contact no.: <br /> Email:
        </p>
    </div>
    <br>
    <h2 class="text-center">Map</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
           Location     
        </p>
    </div>
</div>
{% endblock main-content %}