{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset</h3>
            <hr />
            <p>Enter your email below, and we will send you a link to reset your password.</p>
            
            <form method="post" class="shadow p-4">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        <small class="text-danger">{{ field.errors|striptags }}</small>
                    </div>
                {% endfor %}
                
                <input type="submit" class="btn btn-primary" value="Send Reset Link">
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
